body {
  font-size: 14px;
}

/*** Below follows contents within nav ***/

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/*** Below spans section, h3 and div elements ***/

section {
  margin: 0 auto;
  width: 60%;
}

.example h1, h3 {
  padding-top: 30px;
  text-align center;
}

h3 {
  font-size: 1.3em;
}

div {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
}

div.element {
  background-color: blue;
}
